<style>
  .head-color {
    color: darkred;
    text-transform: uppercase;
    font-weight: 22;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .paragraph {
        text-align: center;
        font-size: 18px;
        font-style: normal;
        margin: 15px;
  }
</style>

<% @welcome.each do | welc | %>
<h1 class="head-color"><%= welc.try(:header_text) %></h1>
<p class="paragraph"><%= welc.try(:page_text) %></p>
<% end %>
